.card-footer {
    background: transparent;
    border-top: 0px;
}
body{
    height: 100vh;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background: #5585b5;
}

#sobre{
    background: #bbe4e9;
}
footer{
    background: #5585b5;
    border: solid;
    border-color: #5585b5;
}
section{
    padding: 24px;
}